@import './quasar.variables.scss';
@import '~quasar-styl';

@import './custom/common.scss';
@import './custom/home.scss';
@import './custom/forum.scss';
// @import '~quasar-addon-styl';

@media screen and (min-width: $breakpoint-md-min) {
  .pc-screan-width {
    max-width: 1200px;
    margin: 0 auto;
  }
  .pc-personal-screan-width {
    max-width: 1000px;
    margin: 0 auto;
  }
}
@media screen and (max-width: $breakpoint-sm-max) {
  .show-menu-tags {
    display: none;
  }
}
.margin-auto {
  margin: 0 auto;
}

.height-auto {
  height: auto;
}
.height-100 {
  height: 100%;
}
.width-auto {
  width: auto;
}
.width-100 {
  width: 100%;
}
.hw-aoto {
  height: auto;
  width: auto;
}
.hw-100 {
  height: 100%;
  width: 100%;
}
.h-auto-w-100 {
  height: auto;
  width: 100%;
}
.h-100-w-auto {
  height: 100%;
  width: auto;
}
.title-height {
  height: 150px;
}
.btn-hw {
  max-height: 35px;
  width: 250px;
}
.avatar-height {
  height: 100px;
}

.white-back {
  background: white;
}
.grey-back {
  background: #fafafa;
}

.show-border {
  border: 1px solid rgba(86, 61, 124, 0.2);
}
.pt-12{
  padding-top: 12px;
}
.pt-5{
  padding-top: 5px;
}

//a标签取消下划线
.a-decoration-none {
  text-decoration: none;
}

// @media screen and (max-width: $breakpoint-md-min) {
//   .pc-screan-width {
//     max-width: 1200px;
//     margin: 0 auto;
//   }

// }

// 修改 q-input dense 模式框的高度
.q-field--dense .q-field__control, .q-field--dense .q-field__marginal {
  height: $input-dense-height;
}

// 修改 q-input dense 模式下拉框的高度
.q-field--auto-height.q-field--dense .q-field__control, .q-field--auto-height.q-field--dense .q-field__native {
  min-height: $input-dense-height;
}