// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #027be3;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$input-dense-height: 35px;
@import '~quasar-variables-styl';
/* 主色 */
$brandColor: #3399CC;

//更改首页最新话题颜色
$frontPostColor: #337ab7;

//讨论组名称颜色
$frontNameColor: #70a1cf;

//讨论组退出按钮颜色
$frontOutButtonColor: #d05353;

//字体颜色汇总
$fontColorMe: #666;




//问答解决背景色
$faqSolveColor: #0099FF;


/* 辅助色 */
$successColor: #67C23A;
$warningColor: #E6A23C;
$dangerColor: #F56C6C;
$unReadColor: orangered;

/* 中性色 */
$mainColor: #303133;
$routineColor: #606266;

/*  更改首页成果共享摘要前颜色  */
// $subColor: #909399;
$subColor: #878b8d;
//更改博客页左侧博客列表时间颜色
$blogLeftBlogTime:#999;
//更改博客页右侧最新评论文章时间颜色
$blogRightNewstBlogTime: #bbb;

//更改讨论组小组成员名名称颜色
$memberNameColor: #aaa;

//更改个人中心用户个人信息栏目颜色
$userSortColor: #909b9d;

//更改首页博客推荐时间及姓名颜色
$homeBlogTimeColor: #BBB;
//更改首页最新话题时间颜色
$homePostTimeColor: #c2c2c2;
/*  更改首页讨论组介绍颜色  */
$frontColor: #c2c2c2;
//首页讨论组hover颜色
$frontHoverColor: #23527c;
//更改首页用户个人中心数量颜色
$homeUserNumColor: #87b1d3;
//返回全部讨论组字体颜色
$gotoAllForumColor: #777;


/* 边框颜色 */
$borderColor: #EAEAEA;

/* 背景色 */
$mainBgColor: #FFFFFF;
$subBgColor: #F6F6F6;
$darkBgColor: #444444;
$hoverBgColor: #FBFDFF;

/* 字号 */
$fontSizeSm: 12px;
$fontSizeSmB: 13px;
$fontSizeBase: 14px;
$fontSizeSl: 15px;
$fontSizeMd: 16px;
$fontSizeLg: 18px;
$frontSizeBLg: 22px;
$fontSizeSuperLg: 26px;


@import '~quasar-variables-styl'
