@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';


  @media screen and (min-width:$breakpoint-md-min){
    .pc-screan-width{
      max-width:1200px;
      margin: 0 auto
    }
    
  }
